* {
  margin: 0;
  padding: 0;
}
/*common shared font */
body {
  font-family: "Lato", sans-serif;
}
/* header section style */
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(229, 84, 115, 0.1);
}
.banner-title {
  padding: 10px 80px 40px 180px;
}
.b-title {
  color: #272727;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 32px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  line-height: 30px;
}
.btn-primary {
  margin-top: 32px;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: white;
}
.banner-image {
  margin-top: 90px;
  padding-right: 80px;
}
.img-1 {
  width: 400px;
  height: 600px;
}
/* body feature section */
.featured {
  margin-top: 178px;
  text-align: center;
  margin-bottom: 40px;
}
.feature-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  width: 50%;
  margin: auto;
}
/* flower types */
.different-flower-types {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
.flower-types {
  width: 264px;
  height: 338px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flower-1 {
  width: 180px;
  height: 258px;
  padding: 80px 78px 0px 40px;
}
.flower-types-1 {
  width: 264px;
  height: 338px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flower-types-2 {
  width: 264px;
  height: 338px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower-name {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  text-decoration-line: underline;
}
/* service section */
.service-section {
  margin-top: 120px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 45px 0px 45px 0px;
  width: 70%;
  margin: auto;
  margin-top: 128px;
}
.service-image {
  width: 90px;
  height: 90px;
}
.service-description {
  color: rgba(39, 39, 39, 0.8);
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
}
/* offer section */
.hot-offer-section {
  margin-top: 130px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.span {
  color: #e55473;
}
.hot-offer {
  margin-top: 150px;
  margin-left: 150px;
  text-align: center;
}
.offer-title {
  color: #272727;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
.offer-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
  width: 60%;
  margin: auto;
}
.hot-offer-flower {
  padding: 90px 100px 90px 0px;
}
.img-2 {
  width: 80%;
}
/* social media */
.social-media-section {
  text-align: center;
  margin-top: 120px;
}
.social-media {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.media-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 45%;
  margin: auto;
}
/* photos */
.photo-1 {
  margin-top: 70px;
}
.photos-4 {
  display: flex;
  gap: 15px;
  width: 80%;
  margin: auto;
}
.photo {
  height: 270px;
  width: 230px;
  margin-bottom: 130px;
}
/* subscription section */
.subscription-section {
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  text-align: center;
  width: 74%;
  margin: auto;
  padding: 5px 30px 90px 10px;
}
.details-title {
  color: #272727;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 800;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
input {
  width: 600px;
  height: 60px;
  background-color: white;
  border: none;
  font-size: 24px;
  border-radius: 8px;
}
.bg {
  margin-left: 30px;
  font-size: large;
}
/* footer section */
.footer {
  background-color: black;
  color: white;
  margin-top: 130px;
  padding: 110px 30px 110px 10px;
  text-align: center;
}
.footer-heading {
  font-size: 42px;
  font-weight: 800;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* Additional section for buying flowers in our website */
.heading-flower {
  margin-top: 100px;
  text-align: center;
}
.buy-flowers-title {
  font-size: 35px;
  margin-bottom: 30px;
}
.buy-flowers-description {
  margin-bottom: 20px;
  width: 45%;
  margin: auto;
  color: rgba(20, 18, 18, 0.4);
}
.flower-categories {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  margin: auto;
}
.flower-category-image {
  width: 190px;
  height: 255px;
  padding: 80px 78px 0px 40px;
}
.flower-category-name {
  font-size: 18px;
  margin-top: 10px;
}
